/* Declaring the variables for SCSS file  */
$text-color: gray;
$small-font: 14px;
$background: white;
$main-green: rgb(59,173,169);
$pos:position;
$rel:relative;
$sticky:sticky;
$zIndex: z-index;
$fontsize:font-size;
$color: color;
$display: display;
$height: height;